@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow: hidden;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50% , -50%);
    width: 960px;
    height: 540px;
}

.cover {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 540px;
    background-color: white;
    z-index: 10;
}

.left {
    width: 200px;
    transform: translate(-500px, -50%);
}

.right {
    width: 600px;
    transform: translate(-100px, -50%);
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
}

#main h1 {
    font-size: 30px;
}

#main p {
    color: rgb(100, 100, 100);
    font-size: 15px;
}

#main ul {
    color:rgb(100, 100, 100);
    margin-left: 40px;
}

.move {
    transform: translate(800px, -50%);
    transition: 2s;
}

#main ul li:nth-child(2) {
    cursor: pointer;
}

#main ul li:nth-child(3) {
    cursor: pointer;
}